from .base import *

DEBUG = True
SECRET_KEY = ''
STATIC_ROOT = ''
ALLOWED_HOSTS = ["*"]
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
    }
}
# celenuim
CHROME_PATH = ''

# mqtt
MQTT_USERNAME = ''
MQTT_PASSWORD = ''